body {
    background-color:rgb(182, 140, 77)
}
 h1 {
    color: 0,0,0;
    text-align: center;
    font-size: 55px;
    font-family: garamond;

 }

 p{
    font-family:serif;
    font-size: 21px; 
  
 }
  
 .imagem{
    width: 600;
    height: 400;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
   
         
    }

    fooster{
        text-align: center;

    }